sudo: required

language: cpp

services:
- docker

env:
  global:
    - secure: "oVoGsniUAa4IEhdlgRAEZiYgz8d7R9WsynP75+X+mASztQvWq+Qg2kHdPHQjyzDvWoXkjl50yz86wJr6DlfJKx9WMYexweorRxJLRZhF4hR+nAIEEaQ7qSukMWRTkbrLWUiYYtJdMkIIjX6YtwVsCoH8zqaB35KXk8gISz6CxVfU6GdLZc73kG6eR6n13o6B0UeUZJOBpwdJxqObD15sNqCplc8SA98q/KaTWD81HyIsmvohqpWQCRYkK/cNZzbGMW8HtK9FgsGlI/s1zQlM8Z1Bbv4KhlO5SfJvoBs5D9x/Jri3OVqSUljSWfyCVFh21UuetKGbQ5PxkymnAee41rbngo2HN3zBtivR64ePUimIz+fUa9BCYQsrd2e1rCLGp6flVUpzWEleFCJpsKoRqmEunM2wE39MZNEcDNGf42GmcuaofG/D9R/V88gj7BTUA8gNLB5ORHdyCNTW1UYkO4G7+6X71NYcf/kDcsVF3wZ6kM0PcRQe/xlUJV6ILSUQEVxJdAAwdLRSNbPoggu08QnX0zYgzYBdvrsTtZO1EpnxcETVMfF/XhC6PYPcYXzhJjtCL/e1SWQc1JgiQt1KIyHsQZrZaldjw9AjpSwoSLYlmflEAcoqBd/3tTQx+6EmFPsi5EXg8TnRekkNmTjTK8/XSzIFWrnz1i6Qys2P5WA="
    - secure: "xb7eO93fZXNLmvwetCuKu2G/3UKZxJXAXNEdxuIz8kLiKworHGcvvZ9PjnYEYo0BiREREpH/XuGl12I6sSDdOpkdnpyU22wfIJPK74Gk6rELVP60u/phQKmYz9u9d5O+XAn0gOI5TT6WQHSohBx0sGQmARAKv0zDqZ/Wz0DDsg1EKymKp3sNe3KoGqKRd4F+gwVSIkYau9tSWwbSDIgUWPBxYIImIhi57SeLY3cogQ5IJayA4QPQ50zfTfgsGQ4YVvRaK5JIisqKwZ7/er3Hta/SmsU2Ehqon9QElDp1NB+yrmLmvYKY6ijsmhyPZTIn9uqKAP54rCvQBnbalDWSZl7q5qBbcbETeAoiPFetYoL8qINm8XDmPeHIRRrmt11wMq6Nj5wvsloHpFLmK0le/xXt6U1MKG8WxHqxt3DdZ4h+Px7PMiEuWsgT2wYmI/JMbDEjfq0OZKCFjHdSHSi5pXvcxZc6RH5s7LShfZ6uYHXjvG7E+evzrMgwfte45u6PTuZ+4mdiZ4I0mSfX/KFZc4/nRoUOSGxZK/aIkogQbwwozEPweMZzKO7VgylqJRYs723kFq0XOWuyvczKU6P9vQnWQFdU1CeQ2TRwoInqw2deJUaZrOmUhQKJytGFbgzb69ZIAf9WLfh/QcDA/gejRjsulbFh8ZMJnAdPauZN/wc="
    - COMMIT=${TRAVIS_COMMIT::8}

  matrix:
    - DOCKERFILE=Dockerfile
    - DOCKERFILE=Dockerfile.arm

install:
- docker build -f $DOCKERFILE -t test .

script:
- docker ps -a

after_success:
  - docker login -u $DOCKERUSERNAME -p $DOCKERPASSWORD
  - export REPO=`if [ "$DOCKERFILE" == "Dockerfile.arm" ]; then echo "sixonetwo/dit168-arm"; else echo sixonetwo/dit168 ; fi`
  - export REPO=sixonetwo/dit168
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  - docker build -f $DOCKERFILE -t $REPO:$COMMIT .
  - docker tag $REPO:$COMMIT $REPO:$TAG
  - docker tag $REPO:$COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER
  - docker push $REPO

notifications:
  slack: group2dit168:ZN4T4lCBQA6x5kHHA9PROgUy

