sudo: required
language: cpp
services:
- docker
install:
- docker build -t test .
script:
- docker ps -a
after_success:
  - docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS
  - export REPO=sixonetwo/DIT168
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  - docker build -f Dockerfile -t $REPO:$COMMIT .
  - docker tag $REPO:$COMMIT $REPO:$TAG
  - docker tag $REPO:$COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER
  - docker push $REPO
notifications:
  slack: group2dit168:ZN4T4lCBQA6x5kHHA9PROgUy
env:
  matrix:
  - secure: cAqASnSt7ADpREX9UBMkmiTgBr7FWjsQsF0etkyx5NJgUhA1L4jvC7z9z1IWWxdrXPn7oFjRAa3+i4zS7hiO5TNiee8Y56lNEEhYa1plM7uOUPx3pWDoPw8OerxTSgsnFThIPsxeq9d8iY/67cSlMqa9vxZcKs+H5gkcF9WAEpNj4z4yUdQN8BhGPjXRYpk5hOXdMADeBY3TBYpdCgrgin2CRj+KMvWTMS/uQRI5wfRW4JkU3tj4kKPs9WTMP3sNBqn/zRzD3ixdRPjtC9TdmFz4VHt/A3+jJ336FIibA7/7u4N9GTgaSqPM0b9GDip5sSgntd1Nr1vUvqeJRjt7WxmtmQ+ZzOhQ/WEHN5GWFDeSmGAdjmY54zISBQ7uC7YotJnXBNf28yIxyhbb9o+wnmUR0k5J90UDVfJgmcMQriuL1gNfSlTLjSwC9OqQrUDDDJlpn7ultmHV8FPexmNZoB5A9Lse29CxjaX8Q8BLCWCRPzBj1ursD3UA5iXRiXTHx0QfpyZ4GVd4MDB1xUM8Gn6KroTP5xkWW4IT1+P2MFENvdNNGOCgz0SLpOvMRX8XNBt1PNw4W5PlwI036rDXmSVAgSugRmyv/HROJOuVHtTvwxt0DYlalBYh5RuvnkAbtER7DUOOzrCfQpYJBmai8uecuT3to4C1SED8iSx8/QI=
  - secure: 0Jni/Dhizup/19aPmQ/oLxotIdAHh7wbMWfwN80qZJcSpGKoUK1p3guNLhO5vumtNOFs9yK4ywcnew06UJ6OA6qQdGy/WqYkCTRCaCS3i9k0AXlqep7IDa3S9arJVs4OJR7M/ZQCvDedOI/2wk4jEB5j9pSCyqFe5O6A36pzG90CvBrGirhdwHQD6TxlRrPPjfMFzU2eBWUTZtRJMQwSk25y4ZNHdddKQ1w+IljJ87ZB9lpEQ/aJUKvgslt3D/dgcL5pws8H+CannDtJcSXmAjn13MjT75iSXh9B8wk0EtLPsoxVjS7RkyWNqkZpbPdSVt5bF0HofDHdu0KYCFA36mlKaYPXpcOf7qrtn1oSbKiCW0plCoIvBw01+H6BBO+e6CdwyrGnRJ4VnCBfKs02YUaMYCI2igLrHWN+et3l4jmnuOF5iubhB0/e4mCswwlVqghgaK4sYBi35imw4JsXwn/F+0R83C9jsfPaNkLqsOfxxbd2p8mE/dKn1fDDD5UQCn5lzSwjYCagQnrf0uOYlEnz9+XbxuT5WLEItu+t+WsxaPTObD76945TlrJr0sQzmubKBKWG3XIOMfaw0safHu98kOk+CPFMoMFn4eDxlm2QSgVpXfwBkDjfa0xzrab/aS/1x7WD5HS8plwOqw+KjRYz8TZprRG5gdRZKJQ07so=
  - secure: uN+ScgFuG6nauwzssGAsSxZGufgOZHmyvMwnEa9nT1J55d6tGqAvWVQEN8mO+QRXjxmxdbD02vpy0/IXF0HEdUVeC+aljKqA53ZSn0z720g1Hfkdwpn76qERliVpi+emlBxUyKYFNFEh2ZBqUhvDtS4iSYQUYz44BHkfNyx3MfjzajhTwDPRyKoSgUoo09rYXuTHrerzRDdzisRthPx3aV2HknwIIGd/ixFTYx9cbvYZyXQF5K2cYDcyeV88zCTcAj/+jPdkLQrrsVMjdWe32IU8YQaZnS5mUNFkAWugWoRqvKgH7Y36qzRTRkjbJDafXPXpvmZnboQwOuIARY0oWV9LEfa7CZoJu1MWryyMgFL59GCydM4UsxaG8E4Oj+Ym1j+YfeH4Cu2VBJ2lQn5+TThIJSuP9QvS6GpxUwDqBEyZMNHuoIr6eGkq1zEifKX8oPBAxp2hAF1fDNjmmobjKBGiiUcHHJJq0blfmkdFzZIPym6GhVIrAQEMRwUIZfRc/pZHO/FQBVYDY7J6YefDgV9rZeExAIBC3ONvrIt6b7Z+Lgpl1eLtpmnlRaRyVyLOu+lbNnCd6ooaIcOpqGDTs5pCMWg9BgHIEJM0mOEAQRUBSu9GX0CjuhLtRRq3oSXdOmFPBfLk4yNXolaOxOYVbJyLD1WBQtVzlBYwcvCklRY=
